/* General page layout */
.page {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
    background-color: #faf9fbf3;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  
  .text {
    text-align: left;
    flex: 1;
  }
  
  .buttons {
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }
  
  .button {
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #7f3fbf;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #7f3fbfdb;
    transform: scale(1.05);
  }
  
  /* Ensure dark mode compatibility */
  @media (prefers-color-scheme: dark) {
    .button:hover {
      background-color: #7f3fbfdb;
      transform: scale(1.05);
    }
  }
  